body {
  background-image: url('http://7-themes.com/data_images/out/12/6809626-simple-backgrounds.jpg');

}

.gameboard {

}

h1 {
  text-align: center;
  size: 20;
  color: gold;
  font:;
  margin:0px;
}

h2 {
  font-size: 18px;
  color: red;
  font:;
  margin:0px;
  text-align: center;
  border: solid brown 3px;
  border-bottom: none;
}

h3 {
  font-size: 14px;
  color: blue;
  font:;
  margin: 0px;
  padding:;
  border: solid red 3px;
}

h4 {
  size: 20;
  color: pink;
  font:;
  margin:;
  padding:;
}

h5 {}

h6 {
  position: absolute;
  margin-top: 80%;
  position: ;
  z-index: -1000;
}

p {
  size: 20;
  color: gold;
  font:;
  margin:;
  padding:;
}

article {
  position: 80px;
  size: 20;
  color: teal;
  font: ;
  margin-bottom: 15px;
  z-index: -5000;
  overflow-y: auto;
}

.player {
  position: relative;
}

.score {
  border-bottom: none;
  padding: 2px;
}

.lastRoll {
  border-top: none;
  padding: 2px;
}

.roll { position: }

.button {
  position: relative;
  z-index: +5000;
  float: inherit;
  align-items: center;

}

#c1 {
  padding: 10% 0 0 38%;
  margin: 0px;
  margin: 0px;
  position: absolute;
}

#r1 {
   padding: 30% 0 0 70%;
   position: absolute;
 }

#c2 {
  padding: 55% 0 0 38%;
  position: absolute;
}

#r2 {
  padding: 30% 0 0 5%;
  position: absolute;
}

#c1 img {
  width: 60px;
  padding-left: 50px;
}

#c2 img {
  width: 60px;
  padding-left: 50px;
}

#r1 img {
  width: 60px;
  padding-left: 50px;
}

#r2 img {
  width: 60px;
  padding-left: 50px;
}

#table img{
  position: absolute;
  width: 35%;
  padding-left: 30%;
  padding-top: 34%;
}

#copsToRobber {}
#moveFeed {}
#rules {}
